h1 {
    color: aquamarine;
}

ul {
    color: beige;
}

section {
    color: beige;
}

footer {
    color: beige;
}

body {
    background-image: url(../images/bcbe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h3 {color: aquamarine;}

img {
    border-width: 5px;
    border-style: solid;
    border-color: pink;
    border-radius: 50%;
}